<h1>COOPルーム作成</h1>

<%= form_with model: @room,class: "width-table", local: true do |f| %>
<table class="table" border="3" bordercolor="black">
	<tr>
		<th>
<h3>ルーム名</h3>
<%= f.text_area :room_name, class: 'form-control'%>
<h3>画像投稿</h3>
<%= f.file_field :images, class: 'form-control', multiple: true %>
<br>

<%= f.submit 'COOPルーム作成', class: 'btn btn-primary btn-width' %>

<% end %>

</th>
</tr>
</table>

